@media all and (max-width: 1000px) {
    .lesson {
        width: 100%;
    }
    .footer {
        text-align: center;
        height: 10px;
        bottom: 0;
    }
    
     
 }
 
 @media all and (max-width: 670px) {
     .header-right {
         display: none;
     }
     .menu-icon {
         display: block;
     }
     .footer p {
         font-size: 12px;
     } 
     .lesson-ilham img {
         height: 300px;
     }
     .lesson-badru img {
         height : 230px;
     }
     .lesson-rizky img {
         height: 200px;
     }
     .lesson-lismu img {
         height: 320px;
     }
     .lesson-rahman img {
         height: 330px;
     }
 }